@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Karla:wght@800&family=Montserrat:ital,wght@0,500;1,400&family=Nanum+Gothic&family=Poppins:wght@500&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
}
header{
    margin-left: 5em;
    margin-top: 3em;
}
main{
    margin-left: 2em;
    padding: 5%;
}
/* top-section-comment */
.top-influencer{
    display: flex;
    margin-bottom: 3em;
   
   
}
/* lets do style in left-side */
.left-side{
    font-size: 1.08em;
    width: 50%;
    
}
.linkbutton{
    background-color: #E02C6D;
    color: white;
    padding:10px 40px ;
    border-radius: 25px;
    font-weight: 800;
}
/* camera-side comment */
.camera-side img{
    width: 80%;
    margin-left: 15%;
}


/* new section start */
.top-collection{
    justify-content: center;
}
.top-collection h3{
    text-align: center;
    margin-top: 3.3em;
}
.products{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:25px;
    grid-column-gap:25px;
    
   

}
.product{
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
   padding-left: 30px;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    

}


.product .product-banner img{
    width: 177px;
    height: 127px;
    
}
.product-title{
    font-size: 20px;
    font-weight: 700;
    
}
.product-star .field{
    color: orange;
}
.text{
    word-wrap: wrap;
}







/* own-try-port */
.hero-side img{
    margin-top: 7em;
    
   
}
.pragraph-side{
    margin-top: 15em;
    margin-left: 15em;
}
    .joinbutton{
        background-color: #E02C6D;
    color: white;
    padding:10px 40px ;
    
    font-weight: 800;

    }
    /* ____----popular collection comment___------ */
    .top-collection{
        margin-top: 2em;
    }

    /* footer comment */
    .last-footer{
        background-color: #0A0826;
        color: white;
        padding: 25px;
        font-family: monospace;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
    }
    
    .icon{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

