@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Karla:wght@800&family=Montserrat:ital,wght@0,500;1,400&family=Nanum+Gothic&family=Poppins:wght@500&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
}
header{
    margin-left: 5em;
    margin-top: 3em;
}
main{
    margin-left: 2em;
    padding: 5%;
    
}
/* top-section-comment */
.top-influencer{
    display: flex;
    margin-bottom: 3em;
   
   
}
.pragraph-side{
    margin-top: 8em;
    margin-left: 20px;
}
/* lets do style in left-side */
.left-side{
    font-size: 1.08em;
    width: 50%;
    
}
.linkbutton{
    outline: 0;
    border: 0;
    background-color: #E02C6D;
    color: white;
    padding:10px 40px ;
    border-radius: 25px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 7px 0 #831b41;
    position: relative;
    top: 0;
}
.linkbutton:active{
    top: 5px;
    box-shadow: 0 2px 0 #831b41;
}
/* camera-side comment */
.programing-side img{
    width: 100%;
    margin-left: 15%;
    background-color: salmon;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color: salmon;}
    to {background-color: yellow;}
}


/* new section start */
.top-collection{
    justify-content: center;
}
.top-collection h3{
    text-align: center;
    margin-top: 3.3em;
}
.products{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:10px
   
    
   

}
.product{
    box-shadow: 10px 5px 5px rgba(0,0,0,.2);
   
    align-items: center;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
}

    
    




.product .product-banner img{
    width: 320px;
    height: 187px;
    margin-right: 0;
   
    
}
.product-title{
    font-size: 20px;
    font-weight: 700;
    
}
.product-star .field{
    color: orange;
}
.text{
    word-wrap: wrap;
    margin-right: 30px;
}







/* own-try-port */
.hero-side img{
    margin-top: 5em;
    margin-right: 20px;
    margin-left: 3em;
    width: 80%;
    
   
}
.member-side{
    margin-left: 8em;
    margin-top: 7em;
}
.right-side{
    width: 50%;
}


    .joinbutton{
        outline: 0;
        border: 0;
        background-color: #E02C6D;
    color: white;
    padding:10px 40px ;
    cursor: pointer;
    
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 7px 0 #831b41;
    position: relative;
    top: 0;

    }
    .joinbutton:active{
        top: 5px;
    box-shadow: 0 2px 0 #831b41;

    }
    /* small-text comment */
    .small-text{
        float: right;
        margin-right: 150px;
        color: #E02C6D;
        font-weight: 600;
        cursor: pointer;
    }
    /* ____----popular collection comment___------ */
    .top-collection h3{
        margin-top: 3em;
        font-size: 25px;
    }

    /* footer comment */
    footer{
        width: 100%;
        
    }
    
   
    .last-footer{
        background-color: #0A0826;
        color: white;
        padding: 25px;
        font-family: monospace;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        
    }
    
    .icon{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    /* responsive css for mobile*/
    @media (max-width:688px){
        .body{
            width: 100%;
        }
        .products, .hero-side, .last-footer{
            grid-template-columns: repeat(1, 1fr);
        
        }
        .top-influencer, .product, .pragraph-side, .last-footer{
            flex-direction: column;
        }
        .programing-side{
            margin-top: 2em;
           
           
        }
        .top-influencer{
            align-items: center;
        }
        .last-footer{
           width: 100%;
        }
       
    }
        
        /* tablet device responsive*/
        @media only screen and (min-width: 688px) and (max-width:992px) {
            body{
                width: 100%;
            }
            .top-influencer, .products, .hero-side, .last-footer{
                grid-template-columns: repeat(2, 1fr);
            }

        }
        
        

    


